.photos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
}

.image {
  display: block;
  width: 30%;
}

.word {
  display: block;
  width: 100%;
  text-align: center;
  background: #793636;
}

.photo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

